.container {
    width: 1280px;
    margin: 0 auto;
}

.container h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.shuffleBtn,
.redoBtn {
    background: none;
    width: 27px;
    border: none;
    cursor: pointer;
}

.topBtns {
    display: flex;
    gap: 20px;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 50px;
}

.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 20px;
}

.loadMore button {
    width: 180px;
    height: auto;
    padding: 15px;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: #EBEBEB;
    border: none;
    border-radius: 20px;
    color: #5F5F5F;
    cursor: pointer;
}