.container {
    width: 1280px;
    margin: 0 auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 5px;
    margin: 0;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}

.shuffleBtn,
.redoBtn {
    background: none;
    width: 27px;
    border: none;
    cursor: pointer;
}

.topBtns {
    display: flex;
    gap: 20px;
}

.icon {
    height: 24px;
    width: 24px;
    margin-right: 50px;
}

.pokemonContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;
}

.loadMore {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 20px;
}

.loadMore button {
    width: 180px;
    height: auto;
    padding: 15px;
    font-size: 2.2rem;
    font-weight: 600;
    background-color: #EBEBEB;
    border: none;
    border-radius: 20px;
    color: #5F5F5F;
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .container {
        width: 100vw;
    }
    .pokemonContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        column-gap: 2rem;
        row-gap: 3rem;
        padding: 0 4rem;
        width: 1078px;
        
    }
    .topBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1078px;
    }
}

@media screen and (max-width: 1130px) {
    .container {
        width: 100vw;
    }
    .pokemonContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        column-gap: 2rem;
        row-gap: 3rem;
        padding: 0 4rem;
        width: 800px;
        
    }
    .topBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 800px;
    }
}

@media screen and (max-width: 848px) {
    .container {
        width: 100vw;
    }
    .pokemonContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        column-gap: 2rem;
        row-gap: 3rem;
        padding: 0 4rem;
        width: 500px;
        
    }
    .topBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 555px) {
    .container {
        width: 100vw;
    }
    .pokemonContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        column-gap: 2rem;
        row-gap: 3rem;
        padding: 0 4rem;
        width: 500px;
        
    }
    .topBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 420px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
    }
    .pokemonContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        column-gap: 2rem;
        row-gap: 3rem;
        padding: 0 4rem;
        width: 500px;
        
    }
    .topBar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        margin-top: 0px;
    }
}