.container {
    width: 1340px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    animation: fadeInUp;
    animation-delay: 0;
    animation-duration: 1s;
}

.id {
    position: absolute;
    top: 0;
    right: 100px;
    font-size: 5rem;
    font-weight: 600;
    color: #6666669d;
    letter-spacing: 2px;
}

.card {
    height: 500px;
    width: 400px;
    margin-left: 15px;
    background-color: #EBEBEB;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all .4s;
    animation: fadeInUp;
    animation-delay: 0;
    animation-duration: 1s;
}

.card:hover {
    transform: scale(102%);
}

.name {
    font-size: 3.5rem;
    text-transform: capitalize;
    color: rgb(95, 95, 95);
}

.info {
    text-align: left;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title {
    font-size: 4.5rem;
    text-transform: capitalize;
    color: rgb(20, 20, 20);
    margin: 0;
}

.infoDetails {

}

.pokeText {
    font-size: 1.8rem;
    width: 600px;
    margin-bottom: 50px;
}

.tagContainer {
    display: flex;
    gap: 7px;
    margin-bottom: 35px;
}

.typeTag {
    background-color: #cfcfcf;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

/* EVOLUTION SECTION */

.evolutionTree {
    font-size: 2.5rem;
}

.evolutionSection {
    display: flex;
    justify-content: center;
}

.sprite {
    cursor: pointer;
}

.evSlotOne,
.evSlotTwo,
.evSlotThree {
    display: flex;
    flex-direction: column;
    position: relative;
}

.evSlotOne {

}

.evSlotTwo {

}

.evSLotThree {

}

.evDetails {
    display: flex;
    flex-direction: column;
}

.evDetails p,
.formTwoName {
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
}

.evDetails h3,
.formTwoName {
    text-align: center;
    font-size: 1.3rem;
    text-transform: capitalize;
}

.rightArrow {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 35%;
    left: -15px;
}

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

@media screen and (max-width: 1300px) {
    .container {
        width: 100vw;
        padding: 50px 30px 0;
        overflow-x: hidden;
    }

    .info {
        text-align: left;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        width: 100vw;
        padding: 130px 30px 0;
        overflow-x: hidden;
        flex-direction: column;
        gap: 60px;
        align-items: center;
    }

    .id {
        top: 30px;
        right: 100px;
    }
}

@media screen and (max-width: 876px) {
    .id {
        right: 50px;
    }
}

@media screen and (max-width: 675px) {

    .info {
        text-align: left;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 4.5rem;
        text-transform: capitalize;
        color: rgb(20, 20, 20);
        margin: 0;
    }
    
    .infoDetails {
        width: 90vw;
    }
    
    .pokeText {
        font-size: 1.8rem;
        width: 600px;
        margin-bottom: 50px;
        width: 100%;
    }

    /* EVOLUTION SECTION */

.evolutionTree {
    font-size: 2.5rem;
}

.evolutionSection {
    display: flex;
    justify-content: center;
    width: 100vw;
}


    
}

@media screen and (max-width: 475px) {
    .card {
        height: 130%;
        width: 95%;
        background-color: #EBEBEB;
        border-radius: 20px;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: all .4s;
    }
}